<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent">Kerstwandeltheater</ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-assertive">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content class="sideMenu">
      <ion-list>
        <ion-item class="item-icon-left" menu-close href="#/app/home">
          <i class="icon ion-home"></i>Beginpagina
        </ion-item>
        <ion-item menu-close href="#/app/piece/0">
          Start
        </ion-item>
        <ion-item menu-close href="#/app/piece/1">
          Stuk 1
        </ion-item>
        <ion-item menu-close href="#/app/piece/1_2">
          Stuk 1 - 2
        </ion-item>
        <ion-item menu-close href="#/app/piece/2">
          Stuk 2
        </ion-item>
        <ion-item menu-close href="#/app/piece/2_3">
          Stuk 2 - 3
        </ion-item>
        <ion-item menu-close href="#/app/piece/3">
          Stuk 3
        </ion-item>
        <ion-item menu-close href="#/app/piece/3_4">
          Stuk 3 - 4
        </ion-item>
        <ion-item menu-close href="#/app/piece/4">
          Stuk 4
        </ion-item>
        <ion-item menu-close href="#/app/piece/4_5">
          Stuk 4 - 5
        </ion-item>
        <ion-item menu-close href="#/app/piece/5">
          Stuk 5
        </ion-item>
        <ion-item menu-close href="#/app/piece/5_6">
          Stuk 5 - 6
        </ion-item>
        <ion-item menu-close href="#/app/piece/6">
          Stuk 6
        </ion-item>
        <ion-item menu-close href="#/app/piece/6_7">
          Stuk 6 - 7
        </ion-item>
        <ion-item menu-close href="#/app/piece/7">
          Stuk 7
        </ion-item>
        <ion-item menu-close href="#/app/piece/7_8">
          Stuk 7- 8
        </ion-item>
        <ion-item menu-close href="#/app/piece/8">
          Stuk 8
        </ion-item>
        <ion-item menu-close href="#/app/piece/8_9">
          Stuk 8 - 9
        </ion-item>
        <ion-item menu-close href="#/app/piece/9">
          Stuk 9
        </ion-item>
        <ion-item menu-close href="#/app/piece/9_10">
          Stuk 9 - 10
        </ion-item>
        <ion-item menu-close href="#/app/piece/10">
          Stuk 10
        </ion-item>
        <ion-item menu-close href="#/app/piece/10_11">
          Stuk 10 - 11
        </ion-item>
        <ion-item menu-close href="#/app/piece/11">
          Stuk 11
        </ion-item>
        <ion-item menu-close href="#/app/piece/11_12">
          Stuk 11 - 12
        </ion-item>
        <ion-item menu-close href="#/app/piece/12">
          Stuk 12
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
