<ion-view view-title="Stuk {{piece}}">
  <ion-content>
    <div class="innerContent">
        <h1>Stuk {{piece}}</h1>
        <p>Hier komt een stuk uitleg te staan over het werken van de pagina en wat er verwacht wordt van de gebruiker.</p>
        <div style="float: left; width: 100%; display: block; ">
            <button ng-if="buttonText" ng-class="{'button-full': !playing}" class="button button-assertive" style="float: left;" ng-click="play();">
                {{buttonText}}
            </button>
            <button ng-if="playing" ng-class="{'ion-volume-mute': !muted, 'ion-volume-high': muted}" class="button button-assertive icon ion-volume-mute" style="float: right;" ng-click="mute();">

            </button>
        </div>
       
    </div>
  </ion-content>
</ion-view>
