<ion-view view-title="Kerstwandeltheater">
  <ion-content>
    <div class="innerContent">
        <p>Uw route neemt een onverwachte wending. Volg de instructies, dan komt het goed.</p>
        <p class="groepsleiderContent">
            <span style="font-style: italic">
                Wij passeren een flessenhals op de route. Het zal helpen als iedereen zijn best doet om een beetje vlot daar door te komen.
            </span>
        </p>
    </div>
  </ion-content>
    <ion-tabs class="tabs-assertive tabs-icon-only">
        
        <ion-tab title="Vorige"  nav-direction="back"ng-click="previous();" icon="ion-chevron-left">
        </ion-tab>

        <ion-tab title="Home" ui-sref="app.home" icon="ion-home">
        </ion-tab>

        <ion-tab title="Volgende"  nav-direction="forward"ng-click="next();" icon="ion-chevron-right">
        </ion-tab>
        
    </ion-tabs>
</ion-view>
