<ion-view view-title="Kerstwandeltheater">
  <ion-content>
    <div class="innerContent">
        <p>Koning Herodes heeft het goed voor elkaar. De keizer heeft hem tot koning over de Joden gemaakt. Kan hij u helpen om de koning van de Joden te vinden?</p>
        <p class="groepsleiderContent">
            <i> Wanneer de koning een vraag aan de groep stelt, neemt u het woord. Uw woorden zijn <b>vet</b> gedrukt.</i> <br />
            Herodes: Hoe kan dat nou? Is mijn paleis niet imposant genoeg? Zijn mijn kleren niet mooi genoeg? Is mijn uitstraling onvoldoende? Straks loop ik al mijn cadeautjes mis. En het is Kerst!<br />
            <br />
            U: <b>O koning, er moet een misverstand zijn. Wij zoeken de koning van de Joden, niet de koning over de Joden.</b>

        </p>
    </div>
  </ion-content>
</ion-view>
