<ion-view view-title="Kerstwandeltheater | sc&egrave;ne 5 - 6">
  <ion-content>
    <div class="innerContent">
        <p>De secretaris begeleidt u naar mensen die u (wellicht) kunnen vertellen waar de koning van de Joden geboren zal worden. Maar is de secretaris wel te vertrouwen?</p>
    </div>
  </ion-content>
    <ion-tabs class="tabs-assertive tabs-icon-only">
        
        <ion-tab title="Vorige"  nav-direction="back"ng-click="previous();" icon="ion-chevron-left">
        </ion-tab>

        <ion-tab title="Home" ui-sref="app.home" icon="ion-home">
        </ion-tab>

        <ion-tab title="Volgende"  nav-direction="forward"ng-click="next();" icon="ion-chevron-right">
        </ion-tab>
        
    </ion-tabs>
</ion-view>
