<ion-view view-title="Kerstwandeltheater | sc&egrave;ne 4 - 5">
  <ion-content>
    <div class="innerContent">
        <p>Pas op, in Jeruzalem is het heel druk. En ze rijden daar als gekken!</p>
        <div class="buttons">
            <button ng-if="buttonText" 
                    ng-class="{'button-full': !playing}" 
                    class="button button-assertive playButton" 
                    ng-click="play();">
                
                {{buttonText}}
            </button>
            <button ng-if="playing" 
                    ng-class="{'ion-volume-mute': !muted, 'ion-volume-high': muted}"
                    class="button button-assertive icon ion-volume-mute muteButton"
                    ng-click="mute();">

            </button>
        </div>
        <p class="groepsleiderContent">
            <span style="font-style: italic">
                Zorg dat iedereen zijn app op het traject van 4 naar 5  instelt, en dat iedereen op de START knop drukt. Dat hoeft deze keer niet tegelijk.
            </span>
        </p>
    </div>
  </ion-content>
    <ion-tabs class="tabs-assertive tabs-icon-only">
        
        <ion-tab title="Vorige"  nav-direction="back"ng-click="previous();" icon="ion-chevron-left">
        </ion-tab>

        <ion-tab title="Home" ui-sref="app.home" icon="ion-home">
        </ion-tab>

        <ion-tab title="Volgende"  nav-direction="forward"ng-click="next();" icon="ion-chevron-right">
        </ion-tab>
        
    </ion-tabs>
</ion-view>
