<ion-view view-title="Kerstwandeltheater | sc&egrave;ne 11">
    <ion-content>
        <div class="innerContent">
            <p>Een herberg zonder ruimte, waar men u liever kwijt dan rijk is. Dat kan wel gezellig klinken, maar niet voor u.</p>
            <p class="groepsleiderContent">
                <span style="font-style: italic">Wanneer de herbergier een vraag aan de groep stelt, neemt u het woord. Uw woorden zijn <span style="font-weight: 700">vet</span> gedrukt.</span><br />
                <span style="font-style: italic">Herbergier: Salaam, dames en heren</span><br />
                <span style="font-weight: 700">Goedenavond</span><br />
                <span style="font-style: italic">Herbergier: Het spijt me zeer, wij zijn vol! U kunt niet door het hek.</span><br />
                <span style="font-weight: 700">Het geeft niet, wij komen niet voor u of uw herberg.</span><br />
                <span style="font-style: italic">Herbergier: Wat komen jullie dan hier doen?</span><br />
                <span style="font-weight: 700">Wij zoeken de koning van de Joden. Wij hebben zijn ster gevolgd. Hij moet hier ergens in Bethlehem zijn geboren. Kunt u ons vertellen waar wij hem kunnen vinden?</span><br />
                <span style="font-style: italic">Herbergier: Barney, jij ben van de afdeling toeristeninformatie.</span><br />
                <span style="font-style: italic">Herbergier 2: Pasgeboren kind? Dan moet u bij de stal zijn, iets verder die kant op. Wijst in de goede richting.</span><br />
                <span style="font-weight: 700">Dank u wel!</span><br />
                <span style="font-style: italic">Herbergier: (Houdt zijn hand op). Onze fooi, graag!</span><br />
                <br />
                <span style="font-weight: 700">Mensen, wij gaan door naar de stal. Hier hebben wij niets te zoeken.</span><br />
            </p>
        </div>
        <div class="visual">
            <img src="img/visuals/11 herberg.jpg" alt="Herberg" />
        </div>
   </ion-content>
    <ion-tabs class="tabs-assertive tabs-icon-only">
        
        <ion-tab title="Vorige"  nav-direction="back"ng-click="previous();" icon="ion-chevron-left">
        </ion-tab>

        <ion-tab title="Home" ui-sref="app.home" icon="ion-home">
        </ion-tab>

        <ion-tab title="Volgende"  nav-direction="forward"ng-click="next();" icon="ion-chevron-right">
        </ion-tab>
        
    </ion-tabs>
</ion-view>
