<ion-view view-title="Kerstwandeltheater | sc&egrave;ne 5">
  <ion-content>
    <div class="innerContent">
        <p>Koning Herodes heeft het goed voor elkaar. De keizer heeft hem tot koning over de Joden gemaakt. Kan hij u helpen om de koning van de Joden te vinden?</p>
        <p class="groepsleiderContent">
            <span style="font-style: italic"> Wanneer de koning een vraag aan de groep stelt, neemt u het woord. Uw woorden zijn <span style="font-weight: 700">vet</span> gedrukt.</span> <br />
            Herodes: Hoe kan dat nou? Is mijn paleis niet imposant genoeg? Zijn mijn kleren niet mooi genoeg? Is mijn uitstraling onvoldoende? Straks loop ik al mijn cadeautjes mis. En het is Kerst!<br />
            <br />
            U: <span style="font-weight: 700">O koning, er moet een misverstand zijn. Wij zoeken de koning van de Joden, niet de koning over de Joden.</span>

        </p>
    </div>
    <div class="visual">
        <img src="img/visuals/5 kroon.jpg" alt="Kroon" />
    </div>
  </ion-content>
    <ion-tabs class="tabs-assertive tabs-icon-only">
        
        <ion-tab title="Vorige"  nav-direction="back"ng-click="previous();" icon="ion-chevron-left">
        </ion-tab>

        <ion-tab title="Home" ui-sref="app.home" icon="ion-home">
        </ion-tab>

        <ion-tab title="Volgende"  nav-direction="forward"ng-click="next();" icon="ion-chevron-right">
        </ion-tab>
        
    </ion-tabs>
</ion-view>
