<ion-view view-title="Kerstwandeltheater | sc&egrave;ne 9">
  <ion-content>
    <div class="innerContent">
        <p>Het is een verhaal zo oud als de weg naar Kralingen: wanneer de vaders iets belangrijkers te doen hebben, moeten de kinderen in hun plaats werken. Maar zitten de kinderen daarmee?</p>
        <div class="buttons">
            <button ng-if="buttonText" 
                    ng-class="{'button-full': !playing}" 
                    class="button button-assertive playButton " 
                    ng-click="delayedPlay();">
                
                {{buttonText}}
            </button>
            <button ng-if="playing" 
                    ng-class="{'ion-volume-mute': !muted, 'ion-volume-high': muted}"
                    class="button button-assertive icon ion-volume-mute muteButton"
                    ng-click="mute();">

            </button>
        </div>
       <p class="groepsleiderContent">
           <span style="font-style: italic">
               Zorg dat iedereen zijn app op (deze) scene 9 instelt, en dat iedereen tegelijk op de START knop drukt. 
           </span>
        </p>
        <div class="visual">
            <img src="img/visuals/9 slapende schaapje.jpg" alt="Slapende schaapje" />
        </div>
    </div>
  </ion-content>
    <ion-tabs class="tabs-assertive tabs-icon-only">
        
        <ion-tab title="Vorige"  nav-direction="back"ng-click="previous();" icon="ion-chevron-left">
        </ion-tab>

        <ion-tab title="Home" ui-sref="app.home" icon="ion-home">
        </ion-tab>

        <ion-tab title="Volgende"  nav-direction="forward"ng-click="next();" icon="ion-chevron-right">
        </ion-tab>
        
    </ion-tabs>
</ion-view>
