<ion-view view-title="Kerstwandeltheater | sc&egrave;ne 2 - 3">
  <ion-content>
    <div class="innerContent">
        <p>U treedt nu het dorp – of eigenlijk gehucht – Nazaret binnen. Zoek daar naar een timmerman. Dat kan niet moeilijk zijn.</p>
    </div>
  </ion-content>
    <ion-tabs class="tabs-assertive tabs-icon-only">
        
        <ion-tab title="Vorige"  nav-direction="back"ng-click="previous();" icon="ion-chevron-left">
        </ion-tab>

        <ion-tab title="Home" ui-sref="app.home" icon="ion-home">
        </ion-tab>

        <ion-tab title="Volgende"  nav-direction="forward"ng-click="next();" icon="ion-chevron-right">
        </ion-tab>
        
    </ion-tabs>
</ion-view>
