<ion-view view-title="Kerstwandeltheater | sc&egrave;ne 9 - 10">
  <ion-content>
    <div class="innerContent">
        <p>Heeft u al dorst? Aan het einde van uw tocht is chocomel en gl&uuml;hwein. Hou vol, en laat u onderweg verrassen.</p>
    </div>
  </ion-content>
    <ion-tabs class="tabs-assertive tabs-icon-only">
        
        <ion-tab title="Vorige"  nav-direction="back"ng-click="previous();" icon="ion-chevron-left">
        </ion-tab>

        <ion-tab title="Home" ui-sref="app.home" icon="ion-home">
        </ion-tab>

        <ion-tab title="Volgende"  nav-direction="forward"ng-click="next();" icon="ion-chevron-right">
        </ion-tab>
        
    </ion-tabs>
</ion-view>
