<ion-view view-title="Kerstwandeltheater">
  <ion-content>
    <div class="innerContent">
        <p>U bent er! Gefeliciteerd! Voor u is de stal, met Maria, Jozef, het kerstkindje en de dieren. Boven u is de ster. Kijk uw ogen uit, en ga dan de kerk in voor een welverdiend drankje.</p>
    </div>
        <div class="visual">
            <img src="img/visuals/12 kribbe.jpg" alt="Kribbe" />
        </div>
  </ion-content>
    <ion-tabs class="tabs-assertive tabs-icon-only">
        
        <ion-tab title="Vorige"  nav-direction="back"ng-click="previous();" icon="ion-chevron-left">
        </ion-tab>

        <ion-tab title="Home" ui-sref="app.home" icon="ion-home">
        </ion-tab>

        <ion-tab title="Volgende"  nav-direction="forward"ng-click="next();" icon="ion-chevron-right">
        </ion-tab>
        
    </ion-tabs>
</ion-view>
